#app{
    height: 60vh;
    width: 80%;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10%;
    border: 2px solid gray;
}
.bottom-chat{
    margin-top: 20vh;
}
textarea{
    resize: none;
}